.intro__list {
  margin: 0;
  height: 90px;
  max-width: 690px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin: 0 0 34px;
    height: 90px;
    width: 288px;
  }
}
