.lead {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  max-height: 1005px;
  max-width: 984px;
}

@media screen and (max-width: 1140px) {
  .lead {
    margin: 0 auto;

  }
}

@media screen and (max-width: 984px) {
  .lead {
    margin: 0 auto;
  }
}

@media screen and (max-width: 568px) {
  .lead {
    margin: 0 auto;
  }
}
