.lead__title {
  margin: 0 0 32px 0;
  height: 200px;
  max-width: 720px;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 686px) {
  .lead__title {
    height: 88px;
    max-width: 288px;
    margin: 0 16px 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
