.intro__title {
  margin: 0;
  height: 58px;
  max-width: 690px;
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 724px) {
  .intro__title {
    margin: 0 0 40px;
    height: 70px;
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
